  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

  :root {
      --clr--back: rgb(242, 240, 253);
      --clr--lightViolet: rgb(227, 223, 253);
      --clr--gray: rgb(96, 95, 95);
      --clr--violet: rgb(229, 209, 250);
      --clr--blue: rgb(232, 203, 249);
      --clr--darkViolet: rgb(127, 102, 157);
      --clr--pink: rgb(222, 186, 206);
      --clr--darkPink: rgb(213, 157, 188);
      --clr--darkPink2: rgb(208, 137, 176);
      --clr--gradient: linear-gradient(90deg, rgba(186, 148, 209, 1) 0%, rgba(213, 157, 188, 1) 62%);

  }

  body {
      font-family: 'Nunito', sans-serif;
      width: 100%;
      margin: 0;
      padding: 0;
  }







  /* header */
  header {
      position: sticky;
      align-items: center;
      gap: 20px;
      background: var(--clr--gradient);
      top: 0px;
      z-index: 100;
      display: flex;
      justify-content: right;
      padding: 13px 25px;
      font-size: 24px;
      margin-bottom: 30px;

  }

  header a {
      text-decoration: none;
      color: black;
  }









  /* section1 */
  .section1 {
      width: 100%;
  }

  .section1 .aditional-info,
  .section1 .title {
      margin: 10px 20px;
      text-align: center;
      font-size: 40px;
  }

  .section1 h1.title {
      padding-top: 47px;
  }

  .section1 h4.aditional-info {
      font-size: 18px;
      color: var(--clr--gray);
  }

  .section1 .description {
      position: relative;
      width: 100%;
      height: 650px;
  }

  .section1 .description .slide {
      position: absolute;
      top: 38%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .section1 .description .img {
      width: 30%;

  }




  /* slider */

  .section1 div.description div.slide {
      position: relative;
  }

  .section1 div.description .img {
      display: none;
      padding: 40px 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .section1 div.description div.slide .img:first-child {
      display: block;
      padding: 20px 20px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .section1 .dots {
      text-align: center;
      margin-top: 20px;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
  }

  .active,
  .dot:hover {
      background-color: #717171;
  }

  .section1 a.buyNow {
      color: black;
      text-decoration: none;
      padding: 12px 26px;
      font-size: 27px;
      background: var(--clr--gradient);
      border: solid var(--clr--darkPink2);
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      cursor: pointer;
      position: absolute;
      top: 84%;
      left: 50%;
      transform: translate(-50%, -50%);
  }






  /* list */
  .section1 div.list {
      padding-top: 24px;
      margin-top: 76px;
  }

  .section1 div.list h1 {
      background-color: var(--clr--lightViolet);
      text-align: center;
      margin: 30px 0;
      padding: 10px 0;
      font-size: 30px;

  }

  .section1 div.list2 {
      display: flex;
      padding: 20px;
      gap: 5px;
      height: 600px;
      margin-bottom: 150px;
  }

  .section1 div.list2 .card {
      position: relative;
      width: 33%;
      gap: 25px;
  }

  .section1 div.list2 .card:hover {
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  }

  .section1 div.list2 .card img {
      width: 80%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .section1 div.list2 .card p {
      font-size: 20px;
      width: 80%;
      position: absolute;
      top: 82%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }


  .section1 div.description1 {
      position: relative;
      margin-bottom: 150px;
  }

  .section1 div.description1 img {
      width: 100%;
      z-index: -10;

  }

  .section1 div.description1 p {
      width: 70%;
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }

  .section1 div.description1 .item {
      position: absolute;
      top: 22%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      gap: 100px;
      color: var(--clr--pink);
  }

  .section1 div.description1 i {
      font-size: 80px;
      text-align: center;
  }







  /* order form */
  .section1 .orderForm {
      position: relative;
      height: 600px;
      background-color: var(--clr--pink);
      margin-top: 50px;
      margin-bottom: 200px;
  }

  .section1 button.order {
      font-weight: 900;
      font-size: 25px;
      background: var(--clr--pink);
      padding: 15px 35px;
      margin-top: 30px;
      margin-bottom: 20px;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 25px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -100%);
      border: var(--clr--darkPink) solid;
      cursor: pointer;
  }

  .section1 button.order:hover {
      box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  }

  .section1 .form {
      background-color: var(--clr--pink);
      font-size: 30px;
      width: 500px;
      text-align: right;
      padding: 10px;
      margin-top: 58px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);
      border-radius: 10px;
  }

  .section1 .form div {
      margin: 13px;
  }

  .section1 .form div input,
  .section1 .form p {
      padding: 10px 20px;
      margin: 10px;
  }

  .section1 .form button {
      padding: 10px 20px;
      margin: 18px;
      font-size: 20px;
      background: var(--clr--gradient);
      border: solid var(--clr--darkPink2);
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      cursor: pointer;
  }







  /* section2 */
  .section2 h1 {
      background-color: var(--clr--lightViolet);
      text-align: center;
      margin: 60px 0 30px 0;
      padding: 6px 0;
      font-size: 30px;

  }

  .section2 .information {
      margin: 0 15px;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(3, 33.33%);
      grid-template-areas:
          'one two three'

  }

  .section2 .information button {
      background-color: var(--clr--blue);
      font-size: 25px;

  }

  .section2 .information button.info1 {
      grid-area: one;
      border: solid 2px var(--clr--darkViolet);
      border-right: none;
  }

  .section2 .information button.info2 {
      grid-area: two;
      border: solid 2px var(--clr--darkViolet);
      border-right: none;

  }

  .section2 .information button.info3 {
      grid-area: three;
      border: solid 2px var(--clr--darkViolet);
  }


  .section2 .information2 p.class1,
  .section2 .information2 p.class2,
  .section2 .information2 p.class3 {
      display: none;

  }

  .section2 .information2 p.class1,
  .click {
      padding-bottom: 25px;
      margin-top: 0;
      display: inline;
      font-size: 27px;
  }

  .section2 .information2 {
      background-color: var(--clr--lightViolet);
      margin: 0 15px 80px 15px;
      font-size: 30px;
      padding: 12px 0px;

  }







  /* footer */
  footer {
      width: 100%;
      text-align: center;
  }

  footer p.footer {
      margin-bottom: 0;
      padding: 6px;
      font-size: 20px;
  }






  @media screen and (max-width: 1024px) {

    .section1 .description {
        height: 650px;
    }

    .section1 a.buyNow {
        position: absolute;
        top: 99%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section1 div.list {
        margin-top: 50px;
    }

    .section1 div.list2 .card img {
        width: 90%;
    }

    .section1 div.description1 p {

        font-size: 24px;
    }


    .section1 div.description div.slide .img:first-child {
        width: 70%;
    }

    .section1 div.description .img {
        width: 70%;

    }

    .section1 .description .slide {
        position: absolute;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section1 .dots {
        position: absolute;
        top: 83%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section1 div.description1 i {
        font-size: 60px;
    }

    .section1 .orderForm {
        margin-bottom: 100px;
    }




    .section1 div.list2 {
        display: block;
        height: 2300px;
        position: relative;
    }


    .section1 div.list2 .card {
        position: relative;
        transform: none;
        width: 90%;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin: 31px 59px;
    }


    .section1 div.list2 .card img {
        width: 70%;
        position: static;
        transform: none;
        margin-left: 150px;

    }

    .section1 div.list2 .card p {
        width: 70%;

        position: static;
        transform: none;
        font-size: 25px;
        margin-left: 150px;

    }

}






  @media screen and (min-width: 2560px) {

      header {
          font-size: 35px;
      }

      .section1 .description {

          height: 1000px;
      }

      .section1 .aditional-info,
      .section1 .title {
          margin: 10px 20px;
          text-align: center;
          font-size: 70px;
      }

      .section1 h4.aditional-info {
          font-size: 40px;
      }

      .section1 .dots {
          position: absolute;
          top: 82%;
          left: 50%;
          transform: translate(-50%, -50%);

      }


      .section1 a.buyNow {
          position: absolute;
          top: 93%;
          left: 50%;
          transform: translate(-50%, -50%);

      }

      .section1 div.list2 {

          height: 900px;
      }

      .section1 div.description1 p {
          font-size: 51px;

      }

      .section1 div.description1 i {
          font-size: 120px;
      }

      .section1 .form {
          font-size: 55px;
          width: 600px;
      }

      .section1 .orderForm {

          height: 700px;

      }

      .section1 button.order {
          font-size: 36px;
      }

      .section2 h1 {
          font-size: 40px;
      }

      .section2 .information button {
          font-size: 33px;
      }

      .section2 .information2 p.class1,
      .click {
          font-size: 33px;
      }

      footer p.footer {
          font-size: 30px;
      }
  }






  @media screen and (max-width: 768px) {

    .section1 div.list2 {
        height: 1850px;

    }


    .section1 div.list2 .card img{
        margin-left: 80px;
    }

    .section1 div.list2 .card p {
        margin-left: 80px;
    }
    .section1 div.description1 p {
        font-size: 15px;
    }
  }



  @media screen and (max-width: 375px) {
header{
    font-size: 13px;

}
.section1 h1.title {
    padding-top: 20px;
    font-size: 20px;

}

.section1 h4.aditional-info {
    font-size: 10px;
}
.section1 .description {
    height: 400px;
}
.section1 .dots {
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section1 a.buyNow {
    font-size: 19px
}
.section1 div.description1 i {
    font-size: 38px;
}
.section1 div.description1 p {
    font-size: 9px;
}
    .section1 div.list2 .card img {
        margin-left: 4px;
    }
    .section1 div.list2 .card p {
        margin-left: 4px;
        font-size: 15px;

    }

    .section1 div.list2 {
        height: 950px;

    }
    .section1 .form{
        width: 300px;
    }

    .section1 .orderForm {
        height: 800px;

    }
    .section2 .information{
        margin: 0;
    }
    .section2 .information button {
        font-size: 18px;
margin: 0;
    }
    .section2 .information2{
        font-size: 8px;
        margin: 0;

    }
  }